<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/user_user_profile">userprofile</a><br>
<a href="/user_product_view">productview</a><br>
{#<a href="/user_login_or_signup">loginorsignup</a>#}
<a href="/user_view_cart_product">productcart</a><br>


<a href="/user_product_wishlist">productwishlist</a><br>

{#<a href="/user_site_feedback">sitefeedback</a>#}
{#<a href="/user_site_feedback">sitefeedback</a>#}
{#<a href="/user_purchase_history">user_purchase_history</a>#}
<a href="/userchatbot">Chatbot</a>
{#<a href="/user_password_change">passwordchange</a>#}
</body>
</html>