{% extends 'admin/admin_index.html' %}
{% block body %}
<body>
{#<a href="/admin_add_brand">addbrand</a><br>#}
{#<a href="/admin_add_category">addcategory</a><br>#}
{#<a href="/admin_app_review">appreview</a><br>#}
<!--<a href="/admin_feedback_add">feedbackadd</a><br>-->
{#<a href="/admin_feedback_view">feedbackview</a><br>#}
{#<a href="/admin_offer_add_or_modify">offeraddormodify</a><br>#}
{#<a href="/admin_offer_view">offerview</a><br>#}
{#<a href="/admin_producr_history_order_sud">producrhistoryordersud</a><br>#}
{#<a href="/admin_product_add">productadd</a><br>#}
{#<a href="/admin_product_list_sales_igure">productlistsalesigure</a><br>#}
{#<a href="/admin_product_rate_and_review">productrateandreview</a><br>#}
{#<a href="/admin_purchase_history_order_main">purchasehistoryordermain</a><br>#}

{#<a href="/admin_registered_customer1">registeredcustomer1</a><br>#}

{#<a href="/admin_view_brand">viewbrand</a><br>#}
{#<a href="/admin_view_category">viewcategory</a><br>#}
{#<a href="/admin_view_product">viewproduct</a><br>#}

{#<a href="/password_change">passwordchange</a><br>#}
{#<a href="/">Log Out</a>#}
{#</body>#}
{% endblock %}