{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form action="/product_add_post" method="post" enctype="multipart/form-data" name="form1">
  <table class="table table-bordered">
    <tr>
      <td>product name</td>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required></td>
    </tr>
    <tr>
      <td>product price</td>
      <td><input type="text" name="textfield3" id="textfield3" class="form-control" required></td>
    </tr>
    <tr>
      <td>product description</td>
      <td><input type="text" name="textfield4" id="textfield4" class="form-control" required></td>
    </tr>
    <tr>
      <td>product category</td>
      <td><select name="select" id="select">
          {% for i in cate %}
          <option value="{{ i["caid"] }}">{{ i["catname"] }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>brand</td>
      <td><select name="select2" id="select2">
          {% for i in bran %}
          <option value="{{ i["brandid"] }}">{{ i["brandname"] }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>product image</td>
      <td><input type="file" name="fileField" id="fileField" class="form-control" required></td>
    </tr>
    <tr>
      <td>product size</td>
      <td><select name="select3" id="select3">
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
      </select></td>
    </tr>
    <tr>
      <td>product color</td>
      <td><select name="select4" id="select4">
          <option>red</option>
          <option>green</option>
          <option>black</option>
          <option>blue</option>
          <option>orange</option>
          <option>violet</option>
          <option>white</option>
          <option>yellow</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="add" class="btn btn-success"></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
